<style>
  @font-face {
    font-family: "AFAFont";
    src: url("/fonts/MSGOTHIC.TTF") format("truetype");
    font-display: swap;
  }

  .loader-wrapper {
    position: fixed;
    inset: 0;
    background-image: url("/images/bandera-bg.webp"),
      linear-gradient(to right, #98cef0 0%, #3f698a 44%, #012243 91%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    transition: opacity 0.5s ease;
  }
  .hide-wrapper {
   opacity: 0;
    pointer-events: none;
  }
  .loader-content {
    display: grid;
    grid-template-rows: auto auto 1fr 1fr;
    height: 600px;
    justify-items: center;
    align-items: end;
  }
  .cup-img {
    width: auto;
    height: 300px;
    object-position: top;
    transition: translate 1s ease;
    /* opacity: 0; */
    /* transition: opacity 0.5s ease; */
  }
  .cup-img.hide {
    translate: 0 -100vh;
  }

  .cup-img.show {
    opacity: 1;
  }

  .year {
    font-size: 14rem;
    color: #fff;
    letter-spacing: 0.1em;
    font-family: "AFAFont", sans-serif;
    transition: translate 1s ease;
  }
  .year.hide {
    translate: -100vw 0;
  }

  .title,
  .subtitle {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.3rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 0.5rem;
    color: #fff;
    text-wrap: nowrap;
    letter-spacing: 0.1em;
    transition: translate 1s ease;
    /* opacity: 0; */
    /* transition: opacity 0.5s ease; */
  }
  .title.hide {
    translate: 100vw 0;
  }
  .subtitle.hide {
    translate: 100vw 0;
  }

  .show {
    opacity: 1;
  }
</style>

<div id="page-loader" class="loader-wrapper">
  <div class="loader-content">
    <img id="cup-img" class="cup-img" />
    <div id="cup-year" class="year"></div>
    <div id="cup-title" class="title"></div>
    <div id="cup-subtitle" class="subtitle"></div>
  </div>
</div>

<script type="module">
  const cups = [
    { src: "/copas/copa-america.webp", year: "1921", title: "Copa América" },
    { src: "/copas/copa-america.webp", year: "1925", title: "Copa América" },
    { src: "/copas/copa-america.webp", year: "1927", title: "Copa América" },
    { src: "/copas/copa-america.webp", year: "1929", title: "Copa América" },
    { src: "/copas/copa-america.webp", year: "1937", title: "Copa América" },
    { src: "/copas/copa-america.webp", year: "1941", title: "Copa América" },
    { src: "/copas/copa-america.webp", year: "1945", title: "Copa América" },
    { src: "/copas/copa-america.webp", year: "1946", title: "Copa América" },
    { src: "/copas/copa-america.webp", year: "1947", title: "Copa América" },
    { src: "/copas/copa-america.webp", year: "1955", title: "Copa América" },
    { src: "/copas/copa-america.webp", year: "1957", title: "Copa América" },
    { src: "/copas/copa-america.webp", year: "1959", title: "Copa América" },
    { src: "/copas/copa-mundo.webp", year: "1978", title: "Copa del Mundo" },
    {
      src: "/copas/copa-mundo-sub-20-01.webp",
      year: "1979",
      title: "Copa del Mundo Sub - 20",
    },
    { src: "/copas/copa-mundo.webp", year: "1986", title: "Copa del Mundo" },
    { src: "/copas/copa-america.webp", year: "1991", title: "Copa América" },
    {
      src: "/copas/copa-federaciones.webp",
      year: "1992",
      title: "Copa Federaciones",
    },
    { src: "/copas/copa-america.webp", year: "1993", title: "Copa América" },
    {
      src: "/copas/copa-campeones-conmebol.webp",
      year: "1993",
      title: "Copa Artemio Franchi",
    },
    {
      src: "/copas/copa-mundo-sub-20-01.webp",
      year: "1995",
      title: "Copa del Mundo Sub - 20",
    },
    {
      src: "/copas/copa-mundo-sub-20-01.webp",
      year: "1997",
      title: "Copa del Mundo Sub - 20",
    },
    {
      src: "/copas/copa-mundo-sub-20-02.webp",
      year: "2001",
      title: "Copa del Mundo Sub - 20",
    },
    {
      src: "/copas/copa-america-futbol-sala.webp",
      year: "2003",
      title: "Copa América Fútbol Sala",
    },
    {
      src: "/copas/medalla-olimpica.webp",
      year: "2004",
      title: "Medalla de Oro",
      subtitle: "Juegos Olímpicos de Atenas",
    },
    {
      src: "/copas/copa-mundo-sub-20-02.webp",
      year: "2005",
      title: "Copa del Mundo Sub - 20",
    },
    {
      src: "/copas/copa-america-femenina.webp",
      year: "2006",
      title: "Copa América Femenina",
    },
    {
      src: "/copas/copa-mundo-sub-20-02.webp",
      year: "2007",
      title: "Copa del Mundo Sub - 20",
    },
    {
      src: "/copas/medalla-olimpica.webp",
      year: "2008",
      title: "Medalla de Oro",
      subtitle: "Juegos Olímpicos de Beijing",
    },
    {
      src: "/copas/copa-mundo-futbol-sala.webp",
      year: "2016",
      title: "Copa América Fútbol Sala",
    },
    { src: "/copas/copa-america.webp", year: "2021", title: "Copa América" },
    {
      src: "/copas/copa-campeones-conmebol.webp",
      year: "2022",
      title: "Copa de Campeones Conmebol - UEFA",
    },
    { src: "/copas/copa-mundo.webp", year: "2022", title: "Copa del Mundo" },
    { src: "/copas/copa-america.webp", year: "2024", title: "Copa América" },
  ];
  const loader = document.getElementById("page-loader");
  const cupImg = document.getElementById("cup-img");
  const cupYear = document.getElementById("cup-year");
  const cupTitle = document.getElementById("cup-title");
  const cupSubtitle = document.getElementById("cup-subtitle");

  let index = 0;

  const preloadImages = async () => {
    return await Promise.all([
      ...cups.map((cup) => {
        return new Promise((resolve) => {
          const img = new Image();
          img.src = cup.src;
          img.onload = resolve;
        });
      }),
    ]);
  };

  const showNext = async () => {
    if (index >= cups.length - 5) {
      // loader.style.opacity = 0;
      cupImg.classList.add("hide");
      cupYear.classList.add("hide");
      cupTitle.classList.add("hide");
      cupSubtitle.classList.add("hide");
      //  setTimeout(() => loader.remove(), 500);
      if (index >= cups.length) {
        loader.classList.add("hide-wrapper");
        await new Promise((resolve) => setTimeout(resolve, 500));
        document.body.classList.remove("is-loading");
      }
    }

    const cup = cups[index];

    cupImg.src = cup.src;
    cupImg.alt = cup.title;
    cupYear.textContent = cup.year;
    cupTitle.textContent = cup.title;
    cupSubtitle.textContent = cup.subtitle ?? "";

    index++;
    setTimeout(showNext, 100);
  };

  document.addEventListener("DOMContentLoaded", async () => {
    console.time("preloadImages");
    await preloadImages();
    console.timeEnd("preloadImages");
    showNext();
  });
</script>
