---
import SocialNetworkBtn from "./SocialNetworkBtn.astro";

---

<style>
  .social-network-menu {
    transform: translateX(-100vw);
    animation: translateAndFadeLeft 0.4s ease-in-out forwards 1s;
  }
 
</style>

<div class="social-network-menu flex lg:flex-col gap-4 items-center justify-center lg:justify-end mb-8 lg:mx-4">
  <SocialNetworkBtn href="https://x.com/afa" icon={"/icons/social-networks/XLogo.svg"} label="X" />
  <SocialNetworkBtn
    href="https://www.youtube.com/@AFAOFICIAL"
    icon={"/icons/social-networks/InstagramLogo.svg"}
    label="Instagram"
  />
  <SocialNetworkBtn
    href="https://www.youtube.com/@AFAOficial"
    icon={"/icons/social-networks/YoutubeLogo.svg"}
    label="Youtube"
  />
  <SocialNetworkBtn
    href="https://www.facebook.com/AFAOFICIAL/"
    icon={"/icons/social-networks/FacebookLogo.svg"}
    label="Facebook"
  />
  <SocialNetworkBtn
    href="https://www.tiktok.com/@afaseleccion"
    icon={"/icons/social-networks/TikTokLogo.svg"}
    label="TikTok"
  />
</div>
