---
interface Props {
  href: string;
  icon: string;
  label: string;
}

const { href, icon, label } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="flex items-center justify-center gap-x-2 p-2 rounded-full bg-primary-850 hover:bg-primary-500 transition-colors hover:shadow-lg"
>
  <img src={icon} alt={label} class="w-5 h-5" />
</a>
