---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
import Loader from "../components/Loader.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>AFA - ARGENTINA</title>
    <ClientRouter />
  </head>
  <body class="is-loading">
    <Loader />
    <div class="app-content">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background: linear-gradient(120deg, #98cef0 0%, #3f698a 44%, #012243 91%) !important;
  }
  .is-loading .app-content {
    display: none;
  }
</style>
